<div class="container">
  <div class="row">
    <div class="col-md-4 sidebar">
      <h3>Choose a sport</h3>
      <select [(ngModel)]="selectedSport.sport" name="sport" id="sport-selector">
        <option *ngFor="let sport of sports" [value]="sport.sport">{{sport.sport}}</option>
      </select>
      <h3>Choose Your Legue</h3>
      <select [(ngModel)]="selectedLegue.legue" name="legue" id="legue-selector">
        <option *ngFor="let legue of legues" [value]="legue.legue">{{legue.legue}}</option>
      </select>
      <a [routerLink]="['/addbracket']" class="btn btn-default">Add a matchup</a>
    </div>
    <div class="col-md-8">
      <router-outlet></router-outlet>
      <!--<app-brakcet-item></app-brakcet-item>-->
    </div>
  </div>
</div>
