<div class="container">
  <div class="row">
    <div class="col-md-4 sidebar">
      <h3>Choose a sport</h3>
      <select name="sport" id="sport-selector">
        <option value="volleyball">volleyball</option>
        <option value="softball">softball</option>
        <option value="tennis">tennis</option>
        <option value="soccer">soccer</option>
        <option value="kickball">kickball</option>
      </select>
      <h3>Choose Your Legue</h3>
      <select name="legue" id="legue-selector">
        <option value="first-legue">first-legue</option>
        <option value="second-legue">second-legue</option>
        <option value=">third-legue">third-legue</option>
      </select>
    </div>
    <div class="col-md-8">
      <h2>First-Legue</h2>
      <div class="team-container">
        <p>Team 1</p>
      </div>
      <div class="vs">
        <p>VS</p>
      </div>
      <div class="team-container">
        <p>Team 2</p>
      </div>
    </div>
  </div>
</div>
